{% load staticfiles %}
<link rel="stylesheet" href="{% static 'tracker/css/style.css' %}">

<head>
    <ul id="menu-bar">
        <li>
            <a href="{% url 'tracker:index' %}">
                Inventory
            </a>
            <ul class="second-level-menu">
                <li>
                    <a href="{% url 'tracker:add_inventory' %}">
                        New Inventory
                    </a>
                </li>
            </ul>
        </li>
        <li>
            <a href="{% url 'tracker:view_orders' %}">
                Orders
            </a>
            <ul class="second-level-menu">
                <li>
                    <a href="{% url 'tracker:place_order' %}">
                        New Order
                    </a>
                </li>
            </ul>
        </li>
        <li>
            <a href="{% url 'tracker:view_products' %}">
                Products
            </a>
            <ul class="second-level-menu">
                <li>
                    <a href="{% url 'tracker:add_product' %}">
                        New Product
                    </a>
                </li>
            </ul>
        </li>
        <li>
            <a href="{% url 'tracker:log_out' %}">
                Logout
            </a>
        </li>
        <li id="settings">
            <a href="{% url 'tracker:app_settings' %}">
                <div id="img_holder"></div>
            </a>
        </li>
    </ul>
</head>

<body>

{% if error_message %}<h2 class="error">{{ error_message }}</h2>{% endif %}
{% if messages %}
<h2>
    {% for message in messages %}
        {{ message }}
    {% endfor %}
</h2>
{% endif %}

<h1>New Product</h1>

<form action="{% url 'tracker:new_product' %}" enctype="multipart/form-data" method="post">
    {% csrf_token %}
    <label for="product_name" class="form">Product name:</label>
    <input type="text" name="product_name" id="product_name" /><br />
    
    <label for="sm_lot_number" class="form">SM Lot Number:</label>
    <input type="text" name="sm_lot_number" id="sm_lot_number" /><br />
    
    <label for="weight" class="form">Weight:</label>
    <input type="text" name="weight" id="weight" /><br />
    
    <label for="pieces" class="form">Pieces:</label>
    <input type="text" name="pieces" id="pieces" /><br />
    
    <label for="category" class="form">Category:</label>
    <select name="category" id="category">
    {% for key, value in categories.items %}
        <option value="{{ key }}">{{ value }}</option>
    {% endfor %}
    </select><br /><br />
    
    <label for="popular" class="form">Popular Product:</label>
    <input type="checkbox" name="popular" id="popular" value="Yes" /><br /><br />

    <label for="photo" class="form">Product Photo:</label>
    <input type="file" name="photo" id="photo" accept="image/gif, image/jpeg, image/png" /><br /><br />

    <button class="add_button">Add Product</button>
</form>

<div class="spacer">
</div>

<footer>
    <p>Written by: Dan To, 2016</p>
    <a href="www.github.com/danhto">
        <img src="{% static "tracker/images/github.png" %}" />
    </a>
</footer>
</body>