{% load staticfiles %}
<link rel="stylesheet" href="{% static 'tracker/css/style.css' %}">

<head>
    <ul id="menu-bar">
        <li>
            <a href="{% url 'tracker:index' %}">
                Inventory
            </a>
            <ul class="second-level-menu">
                <li>
                    <a href="{% url 'tracker:add_inventory' %}">
                        New Inventory
                    </a>
                </li>
            </ul>
        </li>
        <li>
            <a href="{% url 'tracker:view_orders' %}">
                Orders
            </a>
            <ul class="second-level-menu">
                <li>
                    <a href="{% url 'tracker:place_order' %}">
                        New Order
                    </a>
                </li>
            </ul>
        </li>
        <li>
            <a href="{% url 'tracker:view_products' %}">
                Products
            </a>
            <ul class="second-level-menu">
                <li>
                    <a href="{% url 'tracker:add_product' %}">
                        New Product
                    </a>
                </li>
            </ul>
        </li>
        <li>
            <a href="{% url 'tracker:log_out' %}">
                Logout
            </a>
        </li>
    </ul>
</head>

<body>
{% if error_message %}<h2 class="error">{{ error_message }}</h2>{% endif %}
{% if added %}<h2>Inventory successfully added.</h2>{% endif %}

<h1>New Inventory</h1>

<form action="{% url 'tracker:new_inventory' %}" method="post">
    {% csrf_token %}
    <label for="sm_lot_number" class="form">Product:</label>
    <select name="sm_lot_number" id="sm_lot_number" required>
        {% for product in product_list %}
            <option value="{{ product.sm_lot_number }}">{{ product }}</option>
        {% endfor %}
    </select><br />
    
    <label for="lot_number" class="form">Lot Number:</label>
    <input type="text" name="lot_number" id="lot_number" required/><br />
    
    <label for="quantity" class="form">Quantity:</label>
    <input type="text" name="quantity" id="quantity" required/><br />
    
    <label for="location" class="form">Location:</label>
    <input type="text" name="location" id="location" /required><br />
    
    <label for="label" class="form">Label:</label>
    <select name="label" id="label">
        <option value="0">No Label</option>
        <option value="1">Labels</option>
        <option value="2">Partially Labelled</option>
    </select><br /><br />
    
    <label for="standard" class="form">Standard:</label>
    <select name="standard" id="standard">
        <option value="No">No</option>
        <option value="Yes" selected="selected">Yes</option>
    </select><br /><br />
    
    <label for="dessicate" class="form">Dessicant:</label>
    <select name="dessicate" id="dessicate">
        <option value="No" selected="selected">No</option>
        <option value="Yes">Yes</option>
    </select><br /><br />
    
    <label for="notes" class="form">Notes:</label>
    <textarea name="notes" id="notes"></textarea><br /><br />
    
    <button class="add_button">Add Inventory</button>
</form>

<div class="spacer">
</div>

<footer>
    <p>Written by: Dan To, 2016</p>
    <a href="www.github.com/danhto">
        <img src="{% static "tracker/images/github.png" %}" />
    </a>
</footer>
</body>