{% load staticfiles %}
<link rel="stylesheet" href="{% static 'tracker/css/style.css' %}">

<ul id="menu-bar">
    <li>
        <a href="{% url 'tracker:index' %}">
            Inventory
        </a>
        <ul class="second-level-menu">
            <li>
                <a href="{% url 'tracker:add_inventory' %}">
                    New Inventory
                </a>
            </li>
        </ul>
    </li>
    <li>
        <a href="{% url 'tracker:view_orders' %}">
            Orders
        </a>
        <ul class="second-level-menu">
            <li>
                <a href="{% url 'tracker:place_order' %}">
                    New Order
                </a>
            </li>
        </ul>
    </li>
    <li>
        <a href="{% url 'tracker:add_product' %}">
            Products
        </a>
    </li>
    <li>
        <a href="{% url 'tracker:log_out' %}">
            Logout
        </a>
    </li>
</ul>

<h1>New Product</h1>

{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

<form action="{% url 'tracker:new_product' %}" enctype="multipart/form-data" method="post">
    {% csrf_token %}
    <label for="product_name" class="form">Product name:</label>
    <input type="text" name="product_name" id="product_name" /><br />
    
    <label for="sm_lot_number" class="form">SM Lot Number:</label>
    <input type="text" name="sm_lot_number" id="sm_lot_number" /><br />
    
    <label for="weight" class="form">Weight:</label>
    <input type="text" name="weight" id="weight" /><br />
    
    <label for="pieces" class="form">Pieces:</label>
    <input type="text" name="pieces" id="pieces" /><br />
    
    <label for="category" class="form">Category:</label>
    <select name="category" id="category">
    {% for key, value in categories.items %}
        <option value="{{ key }}">{{ value }}</option>
    {% endfor %}
    </select><br /><br />
    
    <label for="popular" class="form">Popular Product:</label>
    <input type="checkbox" name="popular" id="popular" value="Yes" /><br />

    <label for="photo" class="form">Product Photo:</label>
    <input type="file" name="photo" id="photo" accept="image/gif, image/jpeg, image/png" /><br />

    <input type="submit" value="Add Product" />
</form>

<h1>Existing Products</h1>

<form action="{% url 'tracker:add_product' %}" method="POST">
    {% csrf_token %}
    <select name="filtcategory" id="filtcategory">
        <option value="" >All</option>
        {% for key, value in categories.items %}
            {% if filter == key %}
                <option value="{{ key }}" selected>{{ value }}</option>
                {% else %}
                <option value="{{ key }}" >{{ value }}</option>
            {% endif %}
        {% endfor %}
    </select>
    <input type="submit" value="Filter" />
</form>

{% for product in product_list %}
    <form action="{% url 'tracker:delete_product' %}" method="POST">
    {% csrf_token %}
        <a href="{% url 'tracker:product_details' product.sm_lot_number %}">
            <input type="text" name="product_name" id="product_name" value="{{ product.product_name }}" readonly>
        </a>
        <input type="text" name="sm_lot_number" id="sm_lot_number" value="{{ product.sm_lot_number }}" readonly>
        <input type="submit" value="Remove Product" />
    </form>
{% endfor %}