{% load staticfiles %}
<link rel="stylesheet" href="{% static 'tracker/css/style.css' %}">
    
<head>
    <ul id="menu-bar">
        <li>
            <a href="{% url 'tracker:index' %}">
                Inventory
            </a>
            <ul class="second-level-menu">
                <li>
                    <a href="{% url 'tracker:add_inventory' %}">
                        New Inventory
                    </a>
                </li>
            </ul>
        </li>
        <li>
            <a href="{% url 'tracker:view_orders' %}">
                Orders
            </a>
            <ul class="second-level-menu">
                <li>
                    <a href="{% url 'tracker:place_order' %}">
                        New Order
                    </a>
                </li>
            </ul>
        </li>
        <li>
            <a href="{% url 'tracker:view_products' %}">
                Products
            </a>
            <ul class="second-level-menu">
                <li>
                    <a href="{% url 'tracker:add_product' %}">
                        New Product
                    </a>
                </li>
            </ul>
        </li>
        <li>
            <a href="{% url 'tracker:log_out' %}">
                Logout
            </a>
        </li>
        <li id="settings">
            <a href="">
                <div id="img_holder"></div>
            </a>
        </li>
    </ul>
</head>

<body>

{% if response %}
<h2 class="error">{{ response }}</h2>
{% endif %}

<h1>Settings</h1>

<form action="{% url 'tracker:delete_email' %}" enctype="multipart/form-data" method="post">
    {% csrf_token %}
    <label for="old_email" class="form">Current Alert Email Recipients:</label>
    <select name="old_email" id="old_email" />
    {% for email in emails %}
        <option value="{{ email.email }}">{{ email.email }}</option>
    {% endfor %}
    </select><br/>
    <button class="submit_button">Remove Email</button>
</form><br/><br/>

<form action="{% url 'tracker:add_email' %}" enctype="multipart/form-data" method="post">
    {% csrf_token %}
    <label for="new_email" class="form">Add Alert Email Recipient:</label>
    <input type="text" name="new_email" id="new_email" required/><br/>
    <button class="submit_button" name="add_email" id="add_email" />Add Email</button><br />
</form><br/>

<form action="{% url 'tracker:delete_label' %}" enctype="multipart/form-data" method="post">
    {% csrf_token %}
    <label for="del_label" class="form">Current Inventory Labels:</label>
    <select name="del_label" id="del_label" />
        <option value="none">None</option>
        {% for label in labels %}
        <option value="{{ label.label }}">{{ label.label }}</option>
        {% endfor %}
    </select><br/>
    <button class="submit_button">Remove Label</button>
</form><br/><br/>

<form action="{% url 'tracker:add_label' %}" enctype="multipart/form-data" method="post">
    {% csrf_token %}
    <label for="new_label" class="form">Add New Inventory Label:</label>
    <input type="text" name="new_label" id="new_label" required/><br/>
    <button class="submit_button" name="add_label" id="add_label" />Add Label</button><br />
</form><br/>

<div class="spacer">
</div>

<footer>
    <p>Written by: Dan To, 2016</p>
    <a href="www.github.com/danhto">
        <img src="{% static "tracker/images/github.png" %}" />
    </a>
</footer>
</body>
