{% load staticfiles %}
<link rel="stylesheet" href="{% static 'tracker/css/style.css' %}">
    
<head>
    <ul id="menu-bar">
        <li>
            <a href="{% url 'tracker:index' %}">
                Inventory
            </a>
            <ul class="second-level-menu">
                <li>
                    <a href="{% url 'tracker:add_inventory' %}">
                        New Inventory
                    </a>
                </li>
            </ul>
        </li>
        <li>
            <a href="{% url 'tracker:view_orders' %}">
                Orders
            </a>
            <ul class="second-level-menu">
                <li>
                    <a href="{% url 'tracker:place_order' %}">
                        New Order
                    </a>
                </li>
            </ul>
        </li>
        <li>
            <a href="{% url 'tracker:view_products' %}">
                Products
            </a>
            <ul class="second-level-menu">
                <li>
                    <a href="{% url 'tracker:add_product' %}">
                        New Product
                    </a>
                </li>
            </ul>
        </li>
        <li>
            <a href="{% url 'tracker:log_out' %}">
                Logout
            </a>
        </li>
        <li id="settings">
            <a href="">
                <div id="img_holder"></div>
            </a>
        </li>
    </ul>
</head>

<body>

<h1>Settings</h1>

<form action="{% url 'tracker:delete_email' email %}" enctype="multipart/form-data" method="post">
    {% csrf_token %}
    <label for="current_emails" class="form">Current Alert Email Recipients:</label>
    <select name="current_emails" id="current_emails" />
    {% for key, email in emails %}
        <option value="{{ key }}">{{ email }}</option>
    {% endfor %}
    </select><br/><br/>
    <button class="submit">Remove Email</button>
</form>

<form action="{% url 'tracker:add_email' %}" enctype="multipart/form-data" method="post">
    {% csrf_token %}
    <label for="new_email" class="form">Add Alert Email Recipient:</label>
    <input type="text" name="new_email" id="new_email" />
    <button class="submit" name="add_email" id="add_email" />Add Email<br />
</form>

<div class="spacer">
</div>

<footer>
    <p>Written by: Dan To, 2016</p>
    <a href="www.github.com/danhto">
        <img src="{% static "tracker/images/github.png" %}" />
    </a>
</footer>
</body>