<meta http-equiv="refresh" content="30" />
{% load staticfiles %}
<link rel="stylesheet" href="{% static 'tracker/css/style.css' %}">
    
<ul id="menu-bar">
    <li>
        <a href="{% url 'tracker:index' %}">
            Inventory
        </a>
        <ul class="second-level-menu">
            <li>
                <a href="{% url 'tracker:add_inventory' %}">
                    New Inventory
                </a>
            </li>
        </ul>
    </li>
    <li>
        <a href="{% url 'tracker:view_orders' %}">
            Orders
        </a>
        <ul class="second-level-menu">
            <li>
                <a href="{% url 'tracker:place_order' %}">
                    New Order
                </a>
            </li>
        </ul>
    </li>
    <li>
        <a href="{% url 'tracker:add_product' %}">
            Products
        </a>
    </li>
    <li>
        <a href="{% url 'tracker:log_out' %}">
            Logout
        </a>
    </li>
</ul>

{% if response %}
    <h1>{{ response }}</h1>
{% endif %}

<div id="pending_orders">
    <h1>Current Orders</h1>
    
    {% if orders %}
    <table>
        <tr>
            <th><a href="?order_by=order_number">Order Number</a></th>
            <th><a href="?order_by=product">Product Name</a></th>
            <th>Product Number</th>
            <th><a href="?order_by=date">Order Date</a></th>
            <th><a href="?order_by=quantity">Quantity</a></th>
            <th><a href="?order_by=client">Client</a></th>
            <th>Pending Stock</th>
            <th>Notes</th>

        </tr>
        {% for order in orders %}
            {% if order.order_age %}
                <tr class="red">
            {% else %}
                <tr>
            {% endif %}
                <td class="data">{{ order.order_number }}</td>
                <td class="data">
                    <a href="{% url 'tracker:product_inventory' order.product.product_name.lower %}">
                            {{ order.product.product_name }}
                    </a>
                </td>
                <td class="data">{{ order.product.sm_lot_number }}</td>
                <td class="data">{{ order.date }}</td>
                <td class="data">{{ order.quantity }}</td>
                <td class="data">{{ order.client }}</td>
                <td class="data">
                {% for stock in order.get_stock %}
                    {{ stock }} </br>
                {% endfor %}
                </td>
                <td class="data">{{ order.notes }}</td>
                {% if order.is_approved %}
                    <td class="approved_status">Approved</td>
                {% else %}
                    <td class="pending_status">
                        <form action="{% url 'tracker:approve_order' order.order_number %}" method="post">
                            {% csrf_token %}
                            <input id='approve_button' type="submit" value="Approve" />
                        </form>
                    </td>
                {% endif %}
                    <td class="tablebutton">
                        <form action="{% url 'tracker:delete_order' order.order_number %}" method="post">
                        {% csrf_token %}
                            <input type="submit" value="Delete" />
                        </form>
                    </td>
                </tr>
        {% endfor %}
    </table>
    {% else %}
        <p>No pending orders in system.</p>
    {% endif %}
</div>
