{% load staticfiles %}
<link rel="stylesheet" href="{% static 'tracker/css/style.css' %}">
    
<head>
    <ul id="menu-bar">
        <li>
            <a href="{% url 'tracker:index' %}">
                Inventory
            </a>
            <ul class="second-level-menu">
                <li>
                    <a href="{% url 'tracker:add_inventory' %}">
                        New Inventory
                    </a>
                </li>
            </ul>
        </li>
        <li>
            <a href="{% url 'tracker:view_orders' %}">
                Orders
            </a>
            <ul class="second-level-menu">
                <li>
                    <a href="{% url 'tracker:place_order' %}">
                        New Order
                    </a>
                </li>
            </ul>
        </li>
        <li>
            <a href="{% url 'tracker:view_products' %}">
                Products
            </a>
            <ul class="second-level-menu">
                <li>
                    <a href="{% url 'tracker:add_product' %}">
                        New Product
                    </a>
                </li>
            </ul>
        </li>
        <li>
            <a href="{% url 'tracker:log_out' %}">
                Logout
            </a>
        </li>
        <li id="settings">
            <a href="{% url 'tracker:app_settings' %}">
                <div id="img_holder"></div>
            </a>
        </li>
    </ul>
</head>

<body>

<h1>{{ product.product_name }}</h1>

<div id="product_info">
    <p id="sm_lot_number" class="p_product_details">Product Number: </p>
    <p class="p_product_details_value">{{ product.sm_lot_number }}</p><br /><br />

    <p id="weight" class="p_product_details">Weight: </p>
    <p class="p_product_details_value">{{ product.weight }} KG / {{ product.get_pounds }} LBS</p><br /><br />

    <p id="pieces" class="p_product_details">Pieces: </p>
    <p class="p_product_details_value">{{ product.pieces }}</p><br /><br />

    <p id="category" class="p_product_details">Category: </p>
    <p class="p_product_details_value">{{ product.get_category_display }}</p><br /><br />

    <p id="popular" class="p_product_details">Popular Product: </p>
    <p class="p_product_details_value">{{ product.popular }}</p>
</div>

<div id="product_photo_div">
    <img id="product_photo" src="{{ product.photo.url }}" id="photo"/>
</div>

<div class="spacer_product_details">
</div>

<footer>
    <p>Written by: Dan To, 2016</p>
    <a href="www.github.com/danhto">
        <img src="{% static "tracker/images/github.png" %}" />
    </a>
</footer>
</body>