tr.red {
  background: red;
}

th {
  background: cyan;
}

th, td.data {
  border: 1px solid #999;
  padding: 0.5rem;
  text-align: left;
}

td.tablebutton {
    border: none;
}

label.form {
  display: inline-block;
  width: 150px;
  font-weight: bold;
}

label.lbl_product_details {
  display: inline-block;
}

form, input {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

input, select, text {
  font-family : inherit;
  font-size   : 100%;
  display: inline-block;
  width: 175px;
  padding: 12px 15px;
  margin: 12px 5;
  box-sizing: border-box;
}

input[type=file] {
  width: 300px;
}

input[type=submit] {
  font-family : inherit;
  font-size   : 100%;
  width: 150px;
  height: 50px;
  padding: 12px 15px;
  margin: 12px 5;
}

#product_info {
  display: inline-block;
  float: left;
}

#product_photo_div {
  display: inline-block;
  
}

#product_photo {
  display: block;
  margin: 10% 40%;
  width: 300px;
  height: 300px;
}
