/* Menu formatting */
#menu-bar {
    width: 98%;
    margin: 0px 0px 0px 0px;
    padding: 6px 6px 4px 6px;
    height: 40px;
    line-height: 100%;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    box-shadow: 2px 2px 3px #666666;
    -webkit-box-shadow: 2px 2px 3px #666666;
    -moz-box-shadow: 2px 2px 3px #666666;
    background: #FF4545;
    border: solid 1px #6D6D6D;
    position:relative;
    z-index:999;
}
#menu-bar li {
    margin: 0px 0px 6px 0px;
    padding: 1px 6px 0px 6px;
    float: left;
    position: relative;
    list-style: none;
}
#menu-bar a {
    font-weight: bold;
    font-family: arial;
    font-style: normal;
    font-size: 18px;
    color: #E7E5E5;
    text-decoration: none;
    display: block;
    padding: 6px 20px 6px 20px;
    margin: 0;
    margin-bottom: 6px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    text-shadow: 2px 2px 3px #000000;
}
#menu-bar li ul li a {
    margin: 0;
}
#menu-bar .active a, #menu-bar li:hover > a {
    background: #FFFFFF;
    color: #444444;
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .2);
    -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, .2);
    box-shadow: 0 1px 1px rgba(0, 0, 0, .2);
    text-shadow: 2px 2px 3px #FFFFFF;
}
#menu-bar ul li:hover a, #menu-bar li:hover li a {
    background: none;
    border: none;
    color: #666;
    -box-shadow: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
}
#menu-bar ul a:hover {
    background: #0399D4 !important;
    background: linear-gradient(top,  #04ACEC,  #0186BA) !important;
    background: -ms-linear-gradient(top,  #04ACEC,  #0186BA) !important;
    background: -webkit-gradient(linear, left top, left bottom, from(#04ACEC), to(#0186BA)) !important;
    background: -moz-linear-gradient(top,  #04ACEC,  #0186BA) !important;
    color: #FFFFFF !important;
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    text-shadow: 2px 2px 3px #FFFFFF;
}
#menu-bar li:hover > ul {
    display: block;
}
#menu-bar ul {
    background: #FCFCFC;
    display: none;
    margin: 0;
    padding: 0;
    width: 185px;
    position: absolute;
    top: 31px;
    left: 0;
    border: solid 1px #B4B4B4;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-box-shadow: 2px 2px 3px #222222;
    -moz-box-shadow: 2px 2px 3px #222222;
    box-shadow: 2px 2px 3px #222222;
}
#menu-bar ul li {
    float: none;
    margin: 0;
    padding: 0;
}
#menu-bar ul a {
    padding:10px 0px 10px 15px;
    color:#424242 !important;
    font-size:16px;
    font-style:normal;
    font-family:arial;
    font-weight: normal;
    text-shadow: 2px 2px 3px #FFFFFF;
}
#menu-bar ul li:first-child > a {
    border-top-left-radius: 10px;
    -webkit-border-top-left-radius: 10px;
    -moz-border-radius-topleft: 10px;
    border-top-right-radius: 10px;
    -webkit-border-top-right-radius: 10px;
    -moz-border-radius-topright: 10px;
}
#menu-bar ul li:last-child > a {
    border-bottom-left-radius: 10px;
    -webkit-border-bottom-left-radius: 10px;
    -moz-border-radius-bottomleft: 10px;
    border-bottom-right-radius: 10px;
    -webkit-border-bottom-right-radius: 10px;
    -moz-border-radius-bottomright: 10px;
}
#menu-bar:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}
#menu-bar {
    display: inline-block;
    position: fixed;
    top: 0px;
}
html[xmlns] #menu-bar {
    display: block;
}
* html #menu-bar {
    height: 1%;
}

/* --------------------- */

/* Table formatting */

a:link {
    text-decoration: none;
}

table {
    width: 100%;
    border: 1px solid black;
    background: #FF8C69;
}

table.product_table {
    width: 100%;
    border: none;
    background: white;
}

th {
    font: 300 1.2em/2 'Lucida Grande', sans-serif;
    text-align: center;
    text-transform: uppercase;
    border: 1px solid black;
    border-bottom: 4px ridge red;
    padding: 0.5rem;
    background: white;
}

.delete_button {
    display: block;
    border: none;
    min-height: 10px;
    padding-top: .6em;
}

tr.red {
    background: red;
}

tr {
    background: white;
    min-height: 10px;
}

tr:hover td.product_details {
    background: #D3D3D3;
}

tr:hover td.order_details {
    background: #D3D3D3;
}

td.order_details a {
    width: 100%;
    height: 100%;
}

td {
    font: 400 1em/2 'Verdana', sans-serif;
    padding-left: 0.5em;
    padding-top: 0.2em;
    height: 100%;
}

td a {
    height: 100%;
    width: 100%;
}

td.product_details {
    font: 400 1.5em/2 'Verdana', sans-serif;
    border: 1px solid #999;
    padding: 0.5em;
    text-align: left;
}

td.product_details a {
    display: block;
    height: 100%;
    width: 100%;

}

td.data {
    font: 400 1.5em/2 'Verdana', sans-serif;
    border: 1px solid #999;
    padding: 0.5em;
    text-align: left;
}

td.data_stock {
    font: 400 1.5em/2 'Verdana', sans-serif;
    border: 1px solid #999;
    padding: 0.5em 0.8em 0.5em 0.5em;
    text-align: left;
}

div.stock_scroll_div {
    width: 100%;
    height: 100%;
    overflow: auto;
    padding: 0 10px 0 8px;
}

span {
    display: block;
    text-align: center;
    vertical-align: middle;
}

td.pending_status {
    border: 1px solid #999;
    font: 600 1.25em/2.5 'Raleway', sans-serif;
    text-align: center;
    vertical-align: top;
    background: yellow;
    color: orange;
    text-transform: uppercase;
    padding-right: 0.4em;
}

td.approved_status {
   border: 1px solid #999;
   text-align: center;
   text-shadow: 0.5px 0.5px #000000;
   vertical-align: middle;
   font: 600 1.2em/1 'Raleway', sans-serif;
   color: green;
   background: url("../images/approved_bg.jpg") no-repeat transparent;
   background-size: 100% 100%;
   background-position: center 5%;
   padding: 0em 0.4em 0.2em 0.2em;
}

td.update_quantity_cell {
    padding-right: 70px;
}

td.update_quantity_cell form input {
    width: 100px;
}

/* --------------------- */

/* Form and form element formatting */

label.form {
    display: inline-block;
    width: 150px;
    font-weight: bold;
}

label.lbl_product_details {
    display: inline-block;
}

form, input {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

input[type="text"] {
    font-family : inherit;
    font-size   : 100%;
    display: inline-block;
    cursor: text;
    width: 175px;
    padding: 12px 15px;
    margin: 12px 5;
    box-sizing: border-box;
}

textarea {
    width: 180px;
    height: 80px;
}

select {
    font-family : inherit;
    font-size   : 100%;
    display: inline-block;
    cursor: context-menu;
    width: 175px;
    padding: 12px 15px;
    margin: 12px 5;
    box-sizing: border-box;
}

input[type="date"] {
    font-family : inherit;
    font-size   : 100%;
    display: inline-block;
    cursor: context-menu;
    width: 175px;
    padding: 12px 15px;
    margin: 12px 5;
    box-sizing: border-box;
}

button.table_delete_button {
    display: block;
    font: 700 1em/2 'Lucida Grande', sans-serif;
    background: url("../images/delete_x.jpg") no-repeat;
    cursor: pointer;
    background-size: 100% 100%;
    width: 45%;
    height: 50px;
}

.submit_button {
    -moz-box-shadow:inset 0px 1px 0px 0px #f5978e;
    -webkit-box-shadow:inset 0px 1px 0px 0px #f5978e;
    box-shadow:inset 0px 1px 0px 0px #f5978e;
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #f24537), color-stop(1, #c62d1f));
    background:-moz-linear-gradient(top, #f24537 5%, #c62d1f 100%);
    background:-webkit-linear-gradient(top, #f24537 5%, #c62d1f 100%);
    background:-o-linear-gradient(top, #f24537 5%, #c62d1f 100%);
    background:-ms-linear-gradient(top, #f24537 5%, #c62d1f 100%);
    background:linear-gradient(to bottom, #f24537 5%, #c62d1f 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#f24537', endColorstr='#c62d1f',GradientType=0);
    background-color:#f24537;
    -moz-border-radius:6px;
    -webkit-border-radius:6px;
    border-radius:6px;
    border:1px solid #d02718;
    display:inline-block;
    cursor:pointer;
    color:#ffffff;
    font-family:Trebuchet MS;
    font-size:20px;
    font-weight:bold;
    padding:10px 20px;
    text-decoration:none;
    text-shadow:0px 1px 0px #810e05;
}
.submit_button:hover {
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #c62d1f), color-stop(1, #f24537));
    background:-moz-linear-gradient(top, #c62d1f 5%, #f24537 100%);
    background:-webkit-linear-gradient(top, #c62d1f 5%, #f24537 100%);
    background:-o-linear-gradient(top, #c62d1f 5%, #f24537 100%);
    background:-ms-linear-gradient(top, #c62d1f 5%, #f24537 100%);
    background:linear-gradient(to bottom, #c62d1f 5%, #f24537 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#c62d1f', endColorstr='#f24537',GradientType=0);
    background-color:#c62d1f;
}
.submit_button:active {
    position:relative;
    top:1px;
}

.update_quantity_cell form {
    margin-right: -100px;
}

.approve_button {
    -moz-box-shadow: 0px 1px 0px 0px #fff6af;
    -webkit-box-shadow: 0px 1px 0px 0px #fff6af;
    box-shadow: 0px 1px 0px 0px #fff6af;
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ffec64), color-stop(1, #ffab23));
    background:-moz-linear-gradient(top, #ffec64 5%, #ffab23 100%);
    background:-webkit-linear-gradient(top, #ffec64 5%, #ffab23 100%);
    background:-o-linear-gradient(top, #ffec64 5%, #ffab23 100%);
    background:-ms-linear-gradient(top, #ffec64 5%, #ffab23 100%);
    background:linear-gradient(to bottom, #ffec64 5%, #ffab23 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffec64', endColorstr='#ffab23',GradientType=0);
    background-color:#ffec64;
    -moz-border-radius:6px;
    -webkit-border-radius:6px;
    border-radius:6px;
    border:1px solid #ffaa22;
    display:inline-block;
    cursor:pointer;
    color:#333333;
    font-family:Arial;
    font-size:15px;
    font-weight:bold;
    padding:38px 16px;
    text-decoration:none;
    text-shadow:0px 1px 0px #ffee66;

}
.approve_button:hover {
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ffab23), color-stop(1, #ffec64));
    background:-moz-linear-gradient(top, #ffab23 5%, #ffec64 100%);
    background:-webkit-linear-gradient(top, #ffab23 5%, #ffec64 100%);
    background:-o-linear-gradient(top, #ffab23 5%, #ffec64 100%);
    background:-ms-linear-gradient(top, #ffab23 5%, #ffec64 100%);
    background:linear-gradient(to bottom, #ffab23 5%, #ffec64 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffab23', endColorstr='#ffec64',GradientType=0);
    background-color:#ffab23;
}
.approve_button:active {
    position:relative;
    top:1px;
}

.add_button {
    -moz-box-shadow:inset 0px 1px 3px 0px #91b8b3;
    -webkit-box-shadow:inset 0px 1px 3px 0px #91b8b3;
    box-shadow:inset 0px 1px 3px 0px #91b8b3;
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #768d87), color-stop(1, #6c7c7c));
    background:-moz-linear-gradient(top, #768d87 5%, #6c7c7c 100%);
    background:-webkit-linear-gradient(top, #768d87 5%, #6c7c7c 100%);
    background:-o-linear-gradient(top, #768d87 5%, #6c7c7c 100%);
    background:-ms-linear-gradient(top, #768d87 5%, #6c7c7c 100%);
    background:linear-gradient(to bottom, #768d87 5%, #6c7c7c 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#768d87', endColorstr='#6c7c7c',GradientType=0);
    background-color:#768d87;
    -moz-border-radius:5px;
    -webkit-border-radius:5px;
    border-radius:5px;
    border:1px solid #566963;
    display:inline-block;
    cursor:pointer;
    color:#ffffff;
    font-family:Arial;
    font-size:20px;
    font-weight:bold;
    padding:20px 25px;
    text-decoration:none;
    text-shadow:0px -1px 0px #2b665e;
}
.add_button:hover {
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #6c7c7c), color-stop(1, #768d87));
    background:-moz-linear-gradient(top, #6c7c7c 5%, #768d87 100%);
    background:-webkit-linear-gradient(top, #6c7c7c 5%, #768d87 100%);
    background:-o-linear-gradient(top, #6c7c7c 5%, #768d87 100%);
    background:-ms-linear-gradient(top, #6c7c7c 5%, #768d87 100%);
    background:linear-gradient(to bottom, #6c7c7c 5%, #768d87 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#6c7c7c', endColorstr='#768d87',GradientType=0);
    background-color:#6c7c7c;
}
.add_button:active {
    position:relative;
    top:1px;
}

table.logintable {
    width: 40%;
    background: url("../images/table_red_bg.jpg") no-repeat 0 0;
    margin-left:auto;
    margin-right:auto;
}

table.logintable td {
    height: 75px;
    width: 250px;
    font: 400 1.2em/1 'Lucida Grande', sans-serif;
    color: #FFFFFF;
    text-shadow: 2px 1px #000000;
    padding: 0.1em 0.1em 0.1em 0.5em;
    background: url("../images/table_red_bg.jpg") no-repeat 0 0;
}

table.logintable tr {
    width: 100%;
    height: 100%;
    border: 2px solid #4C0000;
    padding: 0.1em 0.1em 0.1em 0.1em;
}

table.logintable td input[type="text"] {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0 0 0 0.2em;
}

table.logintable td input[type="password"] {
    width: 100%;
    height: 100%;
}

td.submit_row {
    border: none;
    background-color: white;
}

td.submit_row .add_button {
    width: 98%;
}

td.options_row a {
    width: 88%;
    text-align: center;
    height: 20px;
}


/* --------------------- */

/* Specific element formatting */

#product_info {
    display: inline;
    float: left;
}

#product_photo_div {
    display: inline;
  
}

#product_photo {
    display: block;
    margin: 10% 40%;
    width: 500px;
    height: 400px;
}

/* test element */
div#test {
    background: url("../images/delete_x.jpg") no-repeat 0 0;
}

input#approve_button {
    background: yellow;
    cursor: pointer;
    height: 50px;
    width: 105px;
}

div#delete_order input{
    background: url("../images/delete_x.jpg") no-repeat;
    background-position: center center;
    background-size: 65px 42px;
    color: #000000;
    cursor: pointer;
    font-weight: bold;
    height: 50px;
    padding-bottom: 2px;
    width: 70px;
}

ul#menu-bar li#settings a div#img_holder {
    background: url("../images/settings_icon.png") no-repeat left top;
    background-size: 40px 40px;
    width: 100%;
    height: 100%;
    position: absolute;
}

ul#menu-bar li#settings a {
    height: 40px;
    width: 40px;
    padding: 0;
    margin: 0;
}

ul#menu-bar li#settings {
    float: right;
    width: 3%;
    height: 100%;
    padding: 0 10px 0 0;
}

@media print {
    body * {
        visibility: hidden;
    }
    #section-to-print, #section-to-print * {
        visibility: visible;
    }
    #section-to-print {
        position: relative;
        left: 0;
        top: 0;
        margin: 0;
    }
}

div#section-to-print div#order_form_title {
    text-align: center;
}

div#section-to-print p#order_number {
    font: 900 3em/1.2 'Lucida Grande', serif;
    padding: 0 0 10px 0;
    border-bottom: 4px solid black;
    height: 75px;
}

div#order_form_title {
    height: 75px;
    border-bottom: 4px solid black;
}

div#section-to-print p.order_form_label {
    font: 700 1.8em/1 'Lucida Grande', serif;
    display: inline-block;
    padding: 5px 15px 5px 0;
    border-right: 4px dotted red;
    vertical-align: middle;

}

div#section-to-print p.order_data {
    font: 400 1.2em/1.2 'Lucida Grande', sans-serif;
    padding: 15px 0 15px 40px;
    display: inline-block;
    vertical-align: middle;
}

div#section-to-print p#order_form_stock_label {
    vertical-align: top;
}

div#div_print_button {
    text-align: right;
}
/* --------------------- */

/* Product display formatting */

p.p_product_details {
    font: 700 1.5em/2 'Lucida Grande', sans-serif;
    border-right: ridge #ff0000;
    display: inline-block;
    padding-right: 1em;
}

p.p_product_details_value {
    font: 200 1.5em/2 'Lucida Grande', sans-serif;
    display: inline-block;
}

div#product_info {

}

#product_photo {
    border: 1px dotted black;
}

/* ----------------------- */

/* Header formatting */

h1 {
    font: 600 2em/2 'Raleway', sans-serif;
    color: rgba(0,0,0,.5);
    text-align: center;
    text-transform: uppercase;
    letter-spacing: .3em;
    width: 100%;
    border-bottom: ridge #ff0000;
    -webkit-box-shadow: 0 4px 4px -3px #000000;
    -moz-box-shadow: 0 4px 4px -3px #000000;
    box-shadow: 0 4px 4px -3px #000000;

}

h2 {
    font: 400 1.5em/2 'Raleway', sans-serif;
    color: rgba(.8, .3, 0, 1);
    text-align: center;
    text-transform: uppercase;
    border-bottom: 4px solid orange;
    padding: 1em;
    position: relative;
    width: 95%;
    margin: 0 auto;
}

h2:before {
    background: none;
    border-bottom: 4px solid orange;
    content: "";
    display: block;
    position: absolute;
    top: 4px;
    left: 4px;
    right: 4px;
    bottom: 4px;
    pointer-events: none;
}

h2.error {
    color: red;
    border-bottom: 4px solid orange;
    padding: 1em;
    position: relative;
    margin: 0 auto;
}

h2.error:before {
    background: none;
    border-bottom: 4px solid orange;
    content: "";
    display: block;
    position: absolute;
    top: 4px;
    left: 4px;
    right: 4px;
    bottom: 4px;
    pointer-events: none;
}

/* --------------------- */

/* Page formatting */

body {
    padding-top: 50px;
}

footer {
    width: 99%;
    margin: 0px 0px 0px 0px;
    padding: 6px 6px 4px 6px;
    height: 40px;
    line-height: 100%;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    box-shadow: 2px 2px 3px #666666;
    -webkit-box-shadow: 2px 2px 3px #666666;
    -moz-box-shadow: 2px 2px 3px #666666;
    background: #FF4545;
    border: solid 1px #6D6D6D;
    position:relative;
    z-index:999;
    
}

footer p {
    display: inline;
    font: 300 1.2em/2 'Lucida Grande', sans-serif;
    color: #E7E5E5;
    position: relative;
    float: right;
    margin: 0px 0px 6px 0px;
    padding: 1px 6px 0px 6px;
    text-shadow: 2px 2px 3px #000000;
}

footer img {
    display: inline;
    float: right;
    width: 50px;
    height: 100%;
}

div.spacer {
    padding: 0.5em 0 0.5em 0;
}

/* --------------------- */
